./JS Assignment 1/output1.png
./JS Assignment 1/output2.png
./JS Assignment 1/output3.png
./JS Assignment 1/output4.png
./JS Assignment 1/output5.png
./JS Assignment 1/output6.png
./JS Assignment 1/output7.png